/*General*/

.errorStyle{
-fx-font-size:1.3em;
-fx-fill: #FF4F28;
}

.notificationStyle{
-fx-font-size:1.3em;
-fx-fill: #19A7CE;
}

/*LOGIN*/
.LoginBorderPane{
-fx-background-color: #F1F1F1;
-fx-padding: 7em;
}

.AppHeading{
-fx-font-weight:500;
-fx-font-size:2em;
}

.LoginVBox{
-fx-padding: 7em;
}

.LoginLabels{

-fx-font-size:1.3em;
-fx-padding: 0.5em;

}
.LoginInputFields{
-fx-font-size:1.5em;

}
.ConfirmLoginBtn{
-fx-font-size:1.2em;
-fx-padding: 0.5em 2em;
-fx-border-insets: 15px;
-fx-border-radius: 5px;
-fx-border-color: #4AB1EB;
-fx-background-insets: 1em;
-fx-background-color:#4AB1EB;
-fx-text-fill: white;

}

.DisplayLocationText{
-fx-font-weight:500;
-fx-font-size:1.2em;
}

/*Dashboard*/

.GridPaneDashboard{
-fx-padding: 1em 4em;
}

.DashboardHeading{
-fx-font-weight:bold;
-fx-font-size:2em;

}


.Dashboard_Switcher_Holder{
-fx-padding:2em 0;
}

.Dashboard_Switcher_Holder Button{
-fx-font-size:1.2em;
-fx-border-color: #4AB1EB;
-fx-background-color:#4AB1EB;
-fx-text-fill: white;
}
.TrackDataHolder Text{
-fx-font-weight:bold;
-fx-font-size:1.2em;
-fx-fill: #19A7CE;
}
.Dashboard_BorderPain_tables{
-fx-border-color: red;
}

.TableHeadingWrapper{
-fx-padding:0 0 1em 0;
}

.DashboardTableheaders{
-fx-font-weight:600;
-fx-font-size:1.8em;
-fx-text-alignment: center;
}

.AppRadioButonHolder{

-fx-padding: 1em;

}

.AppRadioButonHolder Text{
-fx-font-weight:600;
-fx-font-size:1.3em;
}

.AppRadioButonHolder RadioButton{
-fx-font-size:1em;
}

.AptBtnContainer{
-fx-padding:1.5em;
}

.AptBtnContainer Button{
-fx-font-size:1.2em;
-fx-border-color: #4AB1EB;
-fx-background-color:#4AB1EB;
-fx-text-fill: white;
}

#DeleteBtn{
-fx-background-color:red;
-fx-text-fill: white;
-fx-border-color: red;
}

/*NEW APPT FORM*/

.newAppHeadingContainer{
-fx-padding: 3em 25em;
}

.newAppFormHolder{
-fx-padding: 0 0 0 25em;
}


.newAppFormHolder Label{
-fx-font-size:1.2em;
}

.newAppFormHolder TextField{
-fx-font-size:1.2em;
}
.newAppFormHolder ComboBox{
-fx-font-size:1.2em;
}

/*ADD AND UPDATE CUSTOMER FORMS*/

.newCustomerHeadingContainer{
-fx-padding: 2em 20em 0em;
}

.AddCustomerHeader{
-fx-font-weight:600;
-fx-font-size:1.8em;
-fx-text-alignment: center;
}

.newCustomerFormHolder{
-fx-padding: 0em 15em;
}

.newCustomerFormHolder VBox{
-fx-padding: 0.5em 0;
}


